<div th:include="/fragments/layout"></div>
<div th:include="/fragments/layout"></div>
<div class="wrapper">
    <div th:replace="/fragments/header :: header"></div>
    <div th:replace="/fragments/sidebar :: aside"></div>
    <div class="content-wrapper">

        <section class="content-header">
            <!-- Content Header (Page header) -->
            <h1> Thêm thiết bị</h1>
            <ol class="breadcrumb">
                <li><a th:href="@{''}"> Trang chủ</a></li>
                <li><a th:href="@{'/devices'}">Thiết bị</a></li>
                <li><a href="#" class="active">Thêm mới</a></li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <form th:action="@{/devices/edit/{id}(id=${deviceDto.getId()})}" role="form" method="POST" enctype="multipart/form-data"
                      th:object="${deviceDto}">
                    <div class="col-md-8">
                        <div class="box box-warning">
                            <div class="box-header with-border">
                                <h3 class="box-title">Thông tin cơ bản</h3>
                            </div>
                            <div class="box-body">
                                <div th:class="${#fields.hasErrors('name')} ? 'has-error form-group' : 'form-group'">
                                    <label for="name">Tên thiết bị</label>
                                    <input type="text" class="form-control" name="name" id="name"
                                           th:field="*{name}" placeholder="Tên thiết bị..."
                                           autocomplete="off">
                                    <p th:if="${#fields.hasErrors('name')}" class="text-danger"
                                       th:errors="*{name}"></p>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="fs" class="control-label">Danh mục
                                            <b class="col-red">(*)</b>
                                        </label>
                                        <select id="fs" class="form-control"
                                                th:field="*{category}">
                                            <option th:each="category : ${categories}" th:value="${category.id}">
                                                [[${category.name}]]
                                            </option>
                                        </select>
                                        <p th:if="${#fields.hasErrors('category')}" class="text-danger"
                                           th:errors="*{category}"></p>
                                    </div>

                                    <div class="col-sm-6">
                                        <div th:class="${#fields.hasErrors('serial_number')} ? 'has-error form-group' : 'form-group'">
                                            <label for="pass">Serial Number</label>
                                            <input type="text" class="form-control" name="serial_number" id="pass"
                                                   th:field="*{serial_number}" placeholder="Serial Number..."
                                                   autocomplete="off">
                                            <p th:if="${#fields.hasErrors('serial_number')}" class="text-danger"
                                               th:errors="*{serial_number}"></p>
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <br>
                                    <div class="col-md-12">
                                        <div th:class="${#fields.hasErrors('description')} ? 'has-error form-group' : 'form-group'">
                                            <label for="des">Mô tả</label>
                                            <textarea name="description" id="des" cols="5" rows="2"
                                                      autocomplete="off" th:field="*{description}"
                                                      class="form-control"></textarea>
                                            <p th:if="${#fields.hasErrors('description')}" class="text-danger"
                                               th:errors="*{description}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box box-warning">
                            <div th:class="${#fields.hasErrors('location')} ? 'has-error form-group' : 'form-group'">
                                <label for="location">Vị trí lưu trữ</label>
                                <input type="text" class="form-control" name="location" id="location"
                                       th:field="*{location}" placeholder="Vị trí lưu trữ..."
                                       autocomplete="off">
                                <p th:if="${#fields.hasErrors('location')}" class="text-danger"
                                   th:errors="*{location}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="box box-warning">
                            <div class="box-header with-border">
                                <h3 class="box-title">Ảnh đại diện</h3>
                            </div>
                            <div class="box-body block-images">
                                <div style="margin-bottom: 10px" class="image-area">
                                    <img th:src="@{/view/img/no-image.png}" class="img-thumbnail"/>
                                </div>
                                <!-- <div style="position:relative;"> <a class="btn btn-primary" href="javascript:;"> Choose File...
                                <input type="file" name="avatar" size="40" class="d-none js-upload"> </a> &nbsp; <span class="label label-info" id="upload-file-info"></span> </div> -->
                                <label for="thumbnail-stage" class="btn btn-primary">Choose File...</label>
                                <input class="imageID d-none" type="file" id="thumbnail-stage" name="thumbnail_stage"
                                       style="display:none"
                                       accept="image/*">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 clearfix">
                        <div class="box-footer text-center">
                            <a th:href="@{'/'}" class="btn btn-default"><i class="fa fa-arrow-left"></i>Quay lại</a>
                            <button type="submit" class="btn btn-success">
                                <i class="fa fa-save"></i> Cập nhật
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <!-- /.content -->
        <!-- /.content-wrapper -->
    </div>

</div>
<div th:include="/fragments/footer"></div>
