<div th:include="/fragments/layout"></div>
<div class="wrapper">
    <div th:replace="/fragments/header :: header"></div>
    <div th:replace="/fragments/sidebar :: aside"></div>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                [[#{borrow}]]
            </h1>
            <ol class="breadcrumb">
                <li><a th:href="@{'/borrow'}"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
                <li class="active"> [[#{borrow}]]</li>
            </ol>
            <!-- <div th:if="${message}" class="alert alert-success text-center mt-3">[[${message}]]</div> -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="col-md-12">
                <table class="table text-center">
                    <thead>
                    <tr>
                        <td>#</td>
                        <td>[[#{username}]]</td>
                        <td>[[#{devices}]]</td>
                        <td>[[#{request_date}]]</td>
                        <td>[[#{reason}]]</td>
                        <td>[[#{status}]]</td>
                        <td>[[#{due_date}]]</td>
                        <td>Action</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${borrowRequests.isEmpty()}">
                        <th colspan="7">[[#{no_result_found}]]</th>
                    </tr>
                    <tr th:each="borrowRequest : ${borrowRequests}">
                        <td>[[${((currentPage - 1) * 10) +borrowRequestStat.index + 1}]]</td>
                        <td>[[${borrowRequest.user.name}]]</td>
                        <td>[[${borrowRequest.devices.name}]]</td>
                        <td>[[${borrowRequest.requestDate}]]</td>
                        <td>[[${borrowRequest.reason}]]</td>
                        <td th:if="${borrowRequest.status == 'PENDING'}">
                            <a th:href="@{'/borrow/accept/' + ${borrowRequest.id}}" class="btn btn-primary">Chấp
                                nhận</a>
                        </td>
                        <td th:if="${borrowRequest.status == 'APPROVED'}">
                            <span class="text-success">Đã cho mượn</span>
                        </td>
                        <td th:if="${borrowRequest.status == 'REJECTED'}">
                            <span class="text-danger">Đã hủy yêu cầu</span>
                        </td>
                        <td>[[${borrowRequest.dueDate}]]</td>
                        <td th:if="${borrowRequest.status == 'PENDING'}">
                            <a class="text-danger" th:href="@{'/borrow/deny/' + ${borrowRequest.id}}"><i class="fa fa-edit"></i> Từ chối</a>
                        </td>
                        <td th:if="${borrowRequest.status == 'APPROVED'}">
                            <a class="text-success" th:href="@{'/borrow/return/' + ${borrowRequest.id}}"><i class="fa fa-edit"></i> Hoàn trả thiết bị</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="box-footer" th:include="/fragments/pagination">
            </div>
        </section>
        <!-- /.content -->
    </div>
</div>
<!-- /.content-wrapper -->
<div th:include="/fragments/footer"></div>
