<header class="main-header">
    <!-- Logo -->
    <a href="/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>A</b>LT</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg" th:if="${@commonConfigurations?.currentUser?.role != 'USER'}">Trang quản trị </span>
        <span class="logo-lg" th:if="${@commonConfigurations?.currentUser?.role == 'USER'}">Trang thiết bị </span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->


                <!-- UserDto Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img th:src="@{/view/img/logo.png}" class="user-image" alt="User Image">
                    </a>
                    <ul class="dropdown-menu">
                        <!-- UserDto image -->
                        <li class="user-header">
                            <img th:src="@{/view/img/logo.png}" class="img-circle"
                                 alt="User Image">

                            <p>
                                [[${@commonConfigurations.getCurrentUser.getName()}]]
                                <small>Thành viên từ Nov. 2025</small>
                            </p>
                        </li>

                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">[[#{profile}]]</a>
                            </div>
                            <div class="pull-right">
                                <a th:href="@{'/auth/logout'}" class="btn btn-default btn-flat">[[#{logout}]]</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
