<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">[[#{sidebar}]]</li>
            <li th:if="${@commonConfigurations?.currentUser?.role != 'USER'}">
                <a th:href="@{/borrow}">
                    <i class="fa fa-money"></i> <span>[[#{borrow}]]</span>
                </a>
            </li>
            <li>
                <a th:href="@{/history}">
                    <i class="fa fa-money"></i> <span>[[#{history_borrow}]]</span>
                </a>
            </li>
            <li th:if="${@commonConfigurations?.currentUser?.role != 'USER'}">
                <a th:href="@{/maintenance}">
                    <i class="fa fa-wrench"></i>
                    <span>[[#{maintenance}]]</span>
                </a>
            </li>
            <li th:if="${@commonConfigurations?.currentUser?.role != 'USER'}">
                <a th:href="@{/category}">
                    <i class="fa fa-files-o"></i>
                    <span>[[#{category}]]</span>
                </a>
            </li>
            <li>
                <a th:href="@{/device}">
                    <i class="fa fa-th"></i> <span>[[#{devices}]]</span>
                </a>
            </li>
            <li th:if="${@commonConfigurations?.currentUser?.role != 'USER'}">
                <a th:href="@{/user}">
                    <i class="fa fa-user"></i>
                    <span>[[#{user}]]</span>
                </a>
            </li>
            <li th:if="${@commonConfigurations?.currentUser?.role == 'USER'}">
                <a th:href="@{'/user/edit/' + ${@commonConfigurations?.currentUser?.id}}">
                    <i class="fa fa-user"></i>
                    <span>[[#{profile}]]</span>
                </a>
            </li>
            <!-- <li>
                <a th:href="@{/contact}">
                    <i class="fa fa-th"></i> <span>Liên hệ</span>
                </a>
            </li> -->
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
