<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">Thanh điều hướng</li>

            <li>
                <a th:href="@{/transaction}">
                    <i class="fa fa-money"></i> <span>Đơn hàng</span>
                </a>
            </li>
            <li>
                <a th:href="@{/category}">
                    <i class="fa fa-files-o"></i>
                    <span>Danh mục</span>
                </a>
            </li>
            <li>
                <a th:href="@{/}">
                    <i class="fa fa-th"></i> <span>Thiết bị</span>
                </a>
            </li>
            <li>
                <a th:href="@{/qtv}">
                    <i class="fa fa-user"></i>
                    <span>Quản trị viên</span>
                </a>
            </li>
            <li>
                <a th:href="@{/user}">
                    <i class="fa fa-user"></i>
                    <span>Người dùng</span>
                </a>
            </li>
            <li>
                <a th:href="@{/rating}">
                    <i class="fa fa-star"></i> <span>Phản hồi</span>
                </a>
            </li>
            <li>
                <a th:href="@{/contact}">
                    <i class="fa fa-th"></i> <span>Liên hệ</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
