<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">Thanh điều hướng</li>
            <li th:if="${@commonConfigurations?.currentUser?.role == 'ADMIN'}">
                <a th:href="@{/borrow}">
                    <i class="fa fa-money"></i> <span>Yêu cầu mượn thiết bị</span>
                </a>
            </li>
            <li th:if="${@commonConfigurations?.currentUser?.role == 'ADMIN'}">
                <a th:href="@{/maintenance}">
                    <i class="fa fa-wrench"></i>
                    <span>Bảo trì thiết bị</span>
                </a>
            </li>
            <li th:if="${@commonConfigurations?.currentUser?.role == 'ADMIN'}">
                <a th:href="@{/category}">
                    <i class="fa fa-files-o"></i>
                    <span>Danh mục</span>
                </a>
            </li>
            <li>
                <a th:href="@{/}">
                    <i class="fa fa-th"></i> <span>Thiết bị</span>
                </a>
            </li>
            <li th:if="${@commonConfigurations?.currentUser?.role == 'ADMIN'}">
                <a th:href="@{/user}">
                    <i class="fa fa-user"></i>
                    <span>Người dùng</span>
                </a>
            </li>
            <li th:if="${@commonConfigurations?.currentUser?.role == 'USER'}">
                <a th:href="@{'/user/edit/' + ${@commonConfigurations?.currentUser?.id}}">
                    <i class="fa fa-user"></i>
                    <span>Profile</span>
                </a>
            </li>
            <li>
                <a th:href="@{/contact}">
                    <i class="fa fa-th"></i> <span>Liên hệ</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>