<div th:include="/fragments/layout"></div>
<div class="wrapper">
  <div th:replace="/fragments/header :: header"></div>
  <div th:replace="/fragments/sidebar :: aside"></div>
  <div class="content-wrapper" style="min-height: 902.55px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        [[#{create}]] [[#{user}]]
      </h1>
      <ol class="breadcrumb">
        <li><a th:href="@{''}"><i class="fa fa-dashboard"></i>[[#{home}]]</a></li>
        <li><a th:href="@{'/user'}"><i class="fa fa-dashboard"></i>[[#{user}]]</a></li>
        <li class="active">[[#{create}]]</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <form th:action="@{'/user/save'}" method="post" th:object="${user}" class="col-md-8">
        <div class="form-group">
          <label for="name">[[#{username}]]</label>
          <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Enter name">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" th:field="*{email}" placeholder="Enter email">
        </div>
        <div class="form-group has-feedback">
          <label for="phone">[[#{phone_number}]]</label>
          <input type="text" th:field="*{phone}" class="form-control" id="phone" placeholder="Số điện thoại">
          <span class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
        </div>
        <div class="form-group has-feedback">
          <label for="student_id">[[#{student_id}]]</label>
          <input type="text" th:field="*{student_id}" id="student_id" class="form-control" value="123456789"
            placeholder="Mã sinh viên">
          <span class="text-danger" th:if="${#fields.hasErrors('student_id')}" th:errors="*{student_id}"></span>
        </div>
        <div class="form-group">
          <label for="role">[[#{role}]]</label>
          <select class="form-control" th:field="*{role}" id="role">
            <option value="ADMIN">[[#{admin}]]</option>
            <option value="STAFF">[[#{staff}]]</option>
            <option value="USER">[[#{user}]]</option>
          </select>
        </div>
        <div class="form-group">
          <label for="password">[[#{password}]]</label>
          <input type="password" id="password" class="form-control" th:field="*{password}" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">[[#{submit}]]</button>
        <a th:href="@{'/user'}" class="btn btn-danger">[[#{back}]]</a>
      </form>

    </section>
    <!-- /.content -->
  </div>
</div>
<div th:include="/fragments/footer"></div>
