<div th:include="/fragments/layout"></div>
<div class="wrapper">
    <div th:replace="/fragments/header :: header"></div>
    <div th:replace="/fragments/sidebar :: aside"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Trang chủ
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Small boxes (Statbox) -->
            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>12</h3>

                            <p>Yêu cầu mượn</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a th:href="@{'/borrow'}" class="small-box-footer">Chi tiết <i
                                    class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>31</h3>

                            <p>Thiết bị cần bảo trì</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a th:href="@{/maintenance}" class="small-box-footer">Chi tiết <i
                                    class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>[[ ${totalUser} ]]</h3>

                            <p>Người dùng</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <a th:href="@{'/user'}" class="small-box-footer">Chi tiết <i
                                    class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-red">
                        <div class="inner">
                            <h3>[[ ${totalDevices}  ]]</h3>

                            <p>Thiết bị</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                        <a th:href="@{'/device'}" class="small-box-footer">Chi tiết <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
            </div>
            <!-- /.row -->
            <!-- Main row -->
            <div class="row">
                <!-- Left col -->
                <section class="col-lg-7 connectedSortable">
                    <!-- Custom tabs (Charts with tabs)-->
                    <div class="box box-solid bg-teal-gradient">
                        <div class="box-header">
                            <i class="fa fa-th"></i>

                            <h3 class="box-title">Thống kê lượt mượn theo ngày</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn bg-teal btn-sm" data-widget="collapse"><i
                                            class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn bg-teal btn-sm" data-widget="remove"><i
                                            class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body border-radius-none">

                            <figure class="highcharts-figure">
                                <div id="container2" th:data-json="${listDay}" th:data-money="${arrRevenueTransactionMonth}"
                                th:data-money-default="${arrRevenueTransactionMonthDefault}"></div>

                            </figure>
                        </div>

                        <!-- /.box-footer -->
                    </div>

                </section>
                <!-- /.Left col -->
                <!-- right col (We are only adding the ID to make the widgets sortable)-->
                <section class="col-lg-5 connectedSortable">

                    <!-- Map box -->
                    <div class="box box-solid bg-light-blue-gradient">
                        <div class="box-header">

                            <h3 class="box-title">
                                Thống kê yêu cầu mượn
                            </h3>
                        </div>

                        <figure class="highcharts-figure">
                            <div id="container" th:data-json="${statusBorrowRequest}"></div>

                        </figure>

                        <!-- /.box-body-->

                    </div>
                    <!-- /.box -->

                    <!-- solid sales graph -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Sản phẩm bán chạy nhất</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                            class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                            class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="table-responsive">
                                <table class="table no-margin">
                                    <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>ID thiết bị</th>
                                        <th>Tên</th>
                                        <th>Hình ảnh</th>
                                        <th>Số lượt mượn</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="device : ${hotDevices}">
                                            <td>[[${deviceStat.index + 1}]]</td>
                                            <td>[[${device.id}]]</td>
                                            <td>[[${device.name}]]</td>
                                            <td>
                                                <img th:src="${device.avatar}" alt="avatar"
                                                     style="width:40px;height:40px;object-fit:contain">
                                            </td>
                                            <td>21</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>

                    </div>
                    <!-- /.box -->

                </section>
                <!-- right col -->
            </div>
            <!-- /.row (main row) -->

        </section>
        <!-- /.content -->
    </div>
</div>
<!-- /.content-wrapper -->
    <link rel="stylesheet" href="https://code.highcharts.com/css/highcharts.css">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script>
        let dataTransaction = $('#container').attr('data-json');
        let dataTurnOver = $('#container2').attr('data-json');
        let dataListMoney = $('#container2').attr('data-money');
        let dataListMoneyDefault = $('#container2').attr('data-money-default');
        var formatter = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'VND',
        });
        console.log(dataTransaction);

        data = JSON.parse(dataTransaction);
        ListDay = JSON.parse(dataTurnOver);
        dataListMoney = JSON.parse(dataListMoney);
        dataListMoneyDefault = JSON.parse(dataListMoneyDefault);
        Highcharts.chart('container', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Thống kê yêu cầu'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                    }
                }
            },
            series: [{
                name: 'Brands',
                colorByPoint: true,
                data: data
            }]
        });

        Highcharts.chart('container2', {
            chart: {
                type: 'spline'
            },
            title: {
                text: 'Thống kê theo ngày'
            },
            subtitle: {
                text: 'Thống kê của từng ngày trong tháng'
            },
            xAxis: {
                categories: ListDay
            },
            yAxis: {
                title: {
                    text: 'Thống kê'
                },
                labels: {
                    formatter: function () {
                        return formatter.format(this.value);
                    }
                }
            },
            tooltip: {
                crosshairs: true,
                shared: true
            },
            plotOptions: {
                spline: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            },
            series: [{
                name: 'Đã cho mượn',
                marker: {
                    symbol: 'square'
                },
                data: dataListMoney
            },
                {
                    name: 'Đang chờ',
                    marker: {
                        symbol: 'square'
                    },
                    data: dataListMoneyDefault
                }
            ]

        });
    </script>
<div th:include="/fragments/footer"></div>
