<div th:include="/fragments/layout"></div>
<div class="wrapper">
    <div th:replace="/fragments/header :: header"></div>
    <div th:replace="/fragments/sidebar :: aside"></div>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                [[#{history_borrow}]]
                <div class="box-title">
                    <form class="form-inline" th:object="${searchDto}">
                        <input type="text" class="form-control" th:field="*{name}" name="name"
                            placeholder="Tên thiết bị ...">
                        <select id="fs" class="form-control" th:field="*{user}" th:if="${@commonConfigurations?.currentUser?.role != 'USER'}">
                            <option value="">[[#{user_borrow}]]</option>
                            <option th:each="user : ${users}" th:value="${user.id}">
                                [[${user.name}]]
                            </option>
                        </select>
                        <select name="operational_status" th:field="*{status}" class="form-control">
                            <option value="">[[#{device_status}]]</option>
                            <option value="GOOD">[[#{good}]]</option>
                            <option value="MINOR_DAMAGE">[[#{minor_damage}]]</option>
                            <option value="MAJOR_DAMAGE">[[#{major_damage}]]</option>
                        </select>
                        <button type="submit" class="btn btn-success"><i class="fa fa-search"></i> [[#{search}]]</button>
                    </form>
                </div>
            </h1>
            <ol class="breadcrumb">
                <li><a th:href="@{'/borrow'}"><i class="fa fa-dashboard"></i> [[#{home}]]</a></li>
                <li class="active"> [[#{borrow}]]</li>
            </ol>
            <!-- <div th:if="${message}" class="alert alert-success text-center mt-3">[[${message}]]</div> -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="col-md-12">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <td>#</td>
                            <td>[[#{user_borrow}]]</td>
                            <td>[[#{devices}]]</td>
                            <td>[[#{request_date}]]</td>
                            <td>[[#{due_date}]]</td>
                            <td>[[#{actual_date}]]</td>
                            <td>[[#{device_status}]]</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${borrowHistories.isEmpty()}">
                            <th colspan="6">[[#{no_result_found}]]</th>
                        </tr>
                        <tr th:each="borrowHistory : ${borrowHistories}">
                            <td>[[${((currentPage - 1) * 10) +borrowHistoryStat.index + 1}]]</td>
                            <td>[[${borrowHistory.user.name}]]</td>
                            <td>[[${borrowHistory.devices.name}]]</td>
                            <td>[[${borrowHistory.borrowDate}]]</td>
                            <td>[[${borrowHistory.expectedReturnDate}]]</td>
                            <td>[[${borrowHistory.actualReturnDate}]]</td>

                            <td th:if="${borrowHistory.statusDevice == 'GOOD'}">
                                <span class="text-success">[[#{good}]]</span>
                            </td>
                            <td th:if="${borrowHistory.statusDevice == 'MINOR_DAMAGE'}">
                                <span class="text-danger">[[#{minor_damage}]]</span>
                            </td>
                            <td th:if="${borrowHistory.statusDevice == 'MAJOR_DAMAGE'}">
                                <span class="text-danger">[[#{major_damage}]]</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="box-footer" th:include="/fragments/pagination">
            </div>
        </section>
        <!-- /.content -->
    </div>
</div>
<!-- /.content-wrapper -->
<div th:include="/fragments/footer"></div>
